---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const articles = await getCollection("articles");
const themes = [...new Set(articles.map((a) => a.slug.split("/")[0]))].sort();
---

<BaseLayout>
  <h1 class="text-slate-100 text-3xl text-center font-bold mb-6">Thèmes</h1>
  <ul>
    {themes.map((theme) => (
      <li>
        <a href={`${import.meta.env.BASE_URL}themes/${theme}`}>{theme}</a>
      </li>
    ))}
  </ul>
</BaseLayout>
