---
import { sectionApi, themeApi } from "../lib/api";
import { getFileUrl } from "../lib/pocketbase";
import Collapsible from "./Collapsible.astro";
const themes = await themeApi.getAll();
const themesWithSections = await Promise.all(
  themes.map(async (theme) => {
    const sections = await sectionApi.getByTheme(theme.id);
    return { ...theme, sections };
  })
);
---

<aside
  class="bg-slate-950 p-3 flex flex-col gap-3 w-1/6 border-r border-r-indigo-950"
>
  {
    themesWithSections.map((theme) => (
      <Collapsible
        title={theme.name}
        imageUrl={getFileUrl(theme, theme.image)}
        imageAlt="Logo Docker"
      >
        <div class="flex flex-col p-2">
          {theme.sections.map((section) => (
            <a
              href="/"
              class="text-gray-50 text-sm hover:text-indigo-200 transition-all"
            >
              {section.name}
            </a>
          ))}
        </div>
      </Collapsible>
    ))
  }
</aside>
