---
export interface Props {
  items: { name: string; url?: string }[];
}

const { items } = Astro.props;
---

<nav class="mb-4">
  <div class="flex items-center space-x-2 text-sm">
    {
      items.map((item, index) => (
        <div class="flex items-center space-x-2">
          {item.url ? (
            <a
              href={item.url}
              class="text-blue-400 hover:text-blue-300 hover:underline"
            >
              {item.name}
            </a>
          ) : (
            <span class="text-slate-300">{item.name}</span>
          )}

          {index < items.length - 1 && <span class="text-slate-500">/</span>}
        </div>
      ))
    }
  </div>
</nav>
