---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1 class="text-slate-100">Bienvenue sur Compass</h1>
  <p class="text-slate-100">Voici mes notes de développement...</p>
</BaseLayout>
